<div class="row">
  <div class="col-lg-4" ng-if="vm.profile">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" style="margin-top: 6px;">Profile</h3>
        <button class="btn btn-danger pull-right" ng-click="vm.logout()">Logout</button>
      </div>
      <div class="panel-body">
        <div>
          <p>Hi {{ vm.profile.fullName }}!</p>
          <p class="text-muted" ng-if="vm.profile.parkingNumber">Your parking number is <span class="badge">{{ vm.profile.parkingNumber }}</span> in <span class="badge">{{ vm.profile.flor }}</span> floor.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Currently reserved lot</h3>
      </div>
      <div class="panel-body">
        <div ng-if="vm.currentLot">
          <strong>Number:</strong> {{ vm.currentLot.number }}<br>
          <strong>Floor:</strong> {{ vm.currentLot.floor }}<br>
          <strong>Owner:</strong> {{ vm.currentLot.owner }}<br><br>
          <div>
            <a class="btn btn-sm btn-primary" ng-click="vm.freeUpLot(vm.currentLot)">Free Up</a>
          </div>
        </div>
        <span ng-if="!vm.currentLot">You have no lots reserved yet.</span>
      </div>
    </div>
  </div>

  <div class="col-lg-4" ng-if="vm.profile.parkingNumber">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" style="margin-top: 6px;">Share your lot</h3> <!-- do not worry, it's just a temp workaround -->
        <button class="btn btn-default pull-right" ng-click="vm.takeSpotBack()">Take parking back!</button>
      </div>
      <div class="panel-body">
            <form class="expanded" ng-submit="vm.shareSpot(vm.lot)">
              <div class="form-group">
                <label for="startTime">It's free from:</label>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="vm.lot.freeFrom" is-open="freeFromOpened" ng-init="freeFromOpened = false" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="freeFromOpened = !freeFromOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>

              </div>
              <div class="form-group">
                <label for="endTime">You're back on:</label>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="vm.lot.freeTill" is-open="freeTillOpened" ng-init="freeTillOpened = false" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="freeTillOpened = !freeTillOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <button type="submit" class="btn btn-block btn-primary">Share</button>
            </form>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" ng-if="!vm.parkingAvailabilityData.length">
  <div class="panel-body">No available parking lots found.</div>
</div>
<div class="row availability-list" ng-if="vm.parkingAvailabilityData.length">
  <div class="col-xs-12 col-lg-3" ng-repeat="lot in vm.parkingAvailabilityData">
    <a class="btn btn-block btn-md"
       ng-click="vm.reserve(lot)"
       ng-class="{'btn-default': !!lot.currentlyUsed || vm.isLoading(lot), 'btn-success': !lot.currentlyUsed && !vm.isLoading(lot)}"
       ng-disabled="vm.isLoading(lot) || !!lot.currentlyUsed"
    >
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="vm.isLoading(lot)"></span>
      <span ng-if="!vm.isLoading(lot)">
        {{ lot.number }}
      <span ng-if="lot.floor">({{ lot.floor }})</span>
      </span>
    </a>
  </div>
</div>
